.card {
  border-radius: 4px;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 650px) {
    display: block;
    visibility: visible;
    padding: 5px;
    margin-bottom: 35px;
  }
}
