.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.cardRow {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;

  @media screen and (max-width: 650px) {
    justify-content: center;
  }
}

.card {
  border-radius: 4px;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 650px) {
    display: block;
    visibility: visible;
    padding: 5px;
    margin-bottom: 35px;
  }
}
